aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.11.1
asttokens==3.0.0
attrs==25.4.0
boto3==1.41.5
botocore==1.41.5
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
decorator==5.2.1
distlib==0.3.9
dj-database-url==3.1.1
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
executing==2.2.0
filelock==3.18.0
frozenlist==1.8.0
idna==3.11
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jmespath==1.0.1
kinesis-python==0.2.1
matplotlib-inline==0.1.7
motion==0.2.0
multidict==6.7.1
offspring==0.1.1
parso==0.8.4
pi==0.1.2
pillow==11.2.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
propcache==0.4.1
psycopg2-binary==2.9.11
pure_eval==0.2.3
Pygments==2.19.2
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
requests==2.32.5
s3transfer==0.15.0
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
twilio==9.10.1
tzdata==2025.3
urllib3==2.6.3
virtualenv==20.31.2
wcwidth==0.2.13
yarl==1.22.0
